*.zip
banned-ips.json
banned-players.json
cache/*
commands.yml
eula.txt
help.yml
libraries/*
logs/*
ops.json
permissions.yml
plugins/WorldEdit/.archive-unpack/*
usercache.json
version_history.json
wepif.yml
*.json
plugins/bStats/config.yml
plugins/CoreProtect/database.db
plugins/HeadsPlus/locale/*
